[Unit]
Description=Rust API Service for the RANS Stack

[Service]
Type=simple

ExecStart=/usr/bin/server
ExecReload=/usr/bin/pkill -HUP -f $MAINPID

[Install]
WantedBy=multi-user.target
Alias=rans.api.service
Alias=rans.api
